.container {
    background-color: #CFB1BD;
    width: 980px;
    height: 940px;
    margin: auto;

}

.caja1 {
    background-color: #F0D7D3;
    width: 900px;
    height: 830px;
    margin: auto;

    position: relative;
    top: 50px;

}

h1 {
    text-align: center;
    position: relative;
    top: 65px;

}

.caja2 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 780px;
    left: 39px;

}
.caja2 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Pinyon";
    src: url("../FNT/PinyonScript-Regular.ttf");
}
#Pinyon{
    font-family: "Pinyon";
}




.caja3 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    left: 280px;
    bottom: 950px;

}
div p {
  margin: 0;
  position: relative;
top: 40px;

}

.caja3 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Sanshegarty";
    src: url("../FNT/BBHSansHegarty-Regular.ttf");
}
#hegarty{
    font-family: "Sanshegarty";
}



.caja4 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    left: 520px;
    bottom: 1120px;
}
.caja4 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Petit";
    src: url("../FNT/PetitFormalScript-Regular.ttf");
}
#Petit{
    font-family: "Petit";
}






.caja5 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    left: 750px;
    bottom: 1290px;

}
.caja12 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Petit";
    src: url("../FNT/PetitFormalScript-Regular.ttf");
}
#Petit{
    font-family: "Petit";
}


.caja6 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1130px;
    left: 40px;

}

.caja6 img {
    width: 190px;
    height: 180px;

}

.caja7 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1300px;
    left: 285px;

}

.caja7 img  {width: 190px;
    height: 180px;

}

.caja8 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom:1470px;
    left: 520px;

}
.caja8 img {
    width: 190px;
    height: 180px;
}

.caja9 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1638px;
    left: 750px;

}
.caja9 img {
    width: 190px;
    height: 180px;
}

.caja9 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Petit";
    src: url("../FNT/PetitFormalScript-Regular.ttf");
}
#Petit{
    font-family: "Petit";
}

.caja10 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1480px;
    left: 40px;
}

.caja10 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Monsieur";
    src: url("../FNT/MonsieurLaDoulaise-Regular.ttf");
}
#Monseur{
    font-family: "Monsieur";
}



.caja11 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1650px;
    left: 280px;
}

.caja11 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Lovers";
    src: url("../FNT/LoversQuarrel-Regular.ttf");
}
#Lovers{
    font-family: "Lovers";
}



.caja12 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1819px;
    left: 520px;
}

.caja12 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"sanshegarty";
    src: url("../FNT/BBHSansHegarty-Regular.ttf");
}
#sanshegarty{
    font-family: "sanshegarty";
}




.caja13 {
    background-color: #F3C2A3;
    width: 190px;
    height: 170px;
    position: relative;
    bottom: 1990px;
    left: 750px;

}
.caja13 p{
text-align: center;
position: relative;
top: 20px;
}
@font-face {
    font-family:"Fleurdeleah";
    src: url("../FNT/FleurDeLeah-Regular.ttf");
}
#sanshegarty{
    font-family: "Fleurdeleah";
}

footer p{color:darkred;
position: relative; 
top: 65px;
left: 470px;
}
 
footer img{width: 190px;
    height: 180px;
    position: relative;
    left: 790px;
    bottom: 65px;

}


a{text-decoration: none;
   text-align: center;
   position: relative;
   bottom: 100px;
left: 280px;

}